/* ----Java---- */
.detailJava{
  margin-top: 500px;
  position: relative;
}
.detailJava .judul{
  margin-bottom: 70px;
}
.container-trip-java{
  margin-top: 30px;
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 25% 50% 25%;
}
.box{
  color: #0f3057;
  border-radius: 5px;
}
.bromo .isi{
  padding: 10px;
}
.bromo p{
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  /* text-indent: 2cm; */
}
.bromo h6{
  padding-top: 40px;
  font-weight: 100;
  font-style: italic;
  text-align: right;
}
.bromo .gambar{
  background-image: url(img/bromo.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 0 !important;
}
.bromo .harga{
  padding: 10px;
}
.bromo h2{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}
.bromo th{
  color: #f88948;
}
.jogja .gambar{
  background-image: url(img/borobudur.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 0 !important;
}
.jogja .isi{
  padding: 10px;
}
.jogja p{
  padding: 10px;
  margin-top: 15px;
  text-align: center;
  /* text-indent: 2cm; */
}
.jogja h6{
  padding-top: 45px;
  font-weight: 100;
  font-style: italic;
  text-align: right;
}
.jogja .harga{
  padding: 10px;
}
.jogja h2{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}
.jogja th{
  color: #f88948;
}

.bandung .gambar{
  background-image: url(img/bandung.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 0 !important;
}
.bandung .isi{
  padding: 10px;
}
.bandung p{
  padding: 10px;
  margin-top: 15px;
  text-align: center;
  /* text-indent: 2cm; */
}
.bandung h6{
  padding-top: 60px;
  font-weight: 100;
  font-style: italic;
  text-align: right;
}
.bandung .harga{
  padding: 10px;
}
.bandung h2{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}
.bandung th{
  color: #f88948;
}

/* ----Kalimantan---- */
.detailKalimantan{
  margin-top: 150px;
  position: relative;
}
.detailKalimantan .judul{
  margin-bottom: 70px;
}
.container-trip-kalimantan{
  margin-top: 30px;
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 25% 50% 25%;
}
.pulauDerawan .isi{
  padding: 10px;
}
.pulauDerawan p{
  padding: 10px;
  margin-top: 15px;
  text-align: center;
  /* text-indent: 2cm; */
}
.pulauDerawan h6{
  padding-top: 100px;
  font-weight: 100;
  font-style: italic;
  text-align: right;
}
.pulauDerawan .gambar{
  background-image: url(img/K-Derawan.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 0 !important;
}
.pulauDerawan .harga{
  padding: 10px;
}
.pulauDerawan h2{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}
.pulauDerawan th{
  color: #f88948;
}
.pulauKakaban .gambar{
  background-image: url(img/Kakaban\ Kalimantan.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 0 !important;
}
.pulauKakaban .isi{
  padding: 10px;
}
.pulauKakaban p{
  padding: 10px;
  margin-top: 15px;
  text-align: center;
  /* text-indent: 2cm; */
}
.pulauKakaban h6{
  padding-top: 100px;
  font-weight: 100;
  font-style: italic;
  text-align: right;
}
.pulauKakaban .harga{
  padding: 10px;
}
.pulauKakaban h2{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}
.pulauKakaban th{
  color: #f88948;
}
.danauLabuan .gambar{
  background-image: url(img/K-LabuanCermin.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 0 !important;
}
.danauLabuan .isi{
  padding: 10px;
}
.danauLabuan p{
  padding: 10px;
  margin-top: 15px;
  text-align: center;
  /* text-indent: 2cm; */
}
.danauLabuan h6{
  padding-top: 60px;
  font-weight: 100;
  font-style: italic;
  text-align: right;
}
.danauLabuan .harga{
  padding: 10px;
}
.danauLabuan h2{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}
.danauLabuan th{
  color: #f88948;
}

/* ----Bali----- */
.detailBali{
  margin-top: 150px;
  position: relative;
}
.detailBali .judul{
  margin-bottom: 70px;
}
.container-trip-bali{
  margin-top: 30px;
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 25% 50% 25%;
}
.uluwatu .isi{
  padding: 10px;
}
.uluwatu p{
  padding: 10px;
  margin-top: 15px;
  text-align: center;
  /* text-indent: 2cm; */
}
.uluwatu h6{
  padding-top: 100px;
  font-weight: 100;
  font-style: italic;
  text-align: right;
}
.uluwatu .gambar{
  background-image: url(img/Uluwatu.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 0 !important;
}
.uluwatu .harga{
  padding: 10px;
}
.uluwatu h2{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}
.uluwatu th{
  color: #f88948;
}
.nusaPenida .gambar{
  background-image: url(img/Nusa\ Penida.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 0 !important;
}
.nusaPenida .isi{
  padding: 10px;
}
.nusaPenida p{
  padding: 10px;
  margin-top: 15px;
  text-align: center;
  /* text-indent: 2cm; */
}
.nusaPenida h6{
  padding-top: 135px;
  font-weight: 100;
  font-style: italic;
  text-align: right;
}
.nusaPenida .harga{
  padding: 10px;
}
.nusaPenida h2{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}
.nusaPenida th{
  color: #f88948;
}
.tanahLot .gambar{
  background-image: url(img/TanahLot.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 0 !important;
}
.tanahLot .isi{
  padding: 10px;
}
.tanahLot p{
  padding: 10px;
  margin-top: 15px;
  text-align: center;
  /* text-indent: 2cm; */
}
.tanahLot h6{
  padding-top: 120px;
  font-weight: 100;
  font-style: italic;
  text-align: right;
}
.tanahLot .harga{
  padding: 10px;
}
.tanahLot h2{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}
.tanahLot th{
  color: #f88948;
}

/* ----Sulawesi---- */
.detailSulawesi{
  margin-top: 150px;
  position: relative;
}
.detailSulawesi .judul{
  margin-bottom: 50px;
}
.container-trip-sulawesi{
  margin-top: 30px;
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 25% 50% 25%;
}
.bunaken .isi{
  padding: 10px;
}
.bunaken p{
  padding: 10px;
  margin-top: 15px;
  text-align: center;
  /* text-indent: 2cm; */
}
.bunaken h6{
  padding-top: 20px;
  font-weight: 100;
  font-style: italic;
  text-align: right;
}
.bunaken .gambar{
  background-image: url(img/Uluwatu.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 0 !important;
}
.bunaken .harga{
  padding: 10px;
}
.bunaken h2{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}
.bunaken th{
  color: #f88948;
}
.tanaToraja .gambar{
  background-image: url(img/Nusa\ Penida.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 0 !important;
}
.tanaToraja .isi{
  padding: 10px;
}
.tanaToraja p{
  padding: 10px;
  margin-top: 15px;
  text-align: center;
  /* text-indent: 2cm; */
}
.tanaToraja h6{
  padding-top: 60px;
  font-weight: 100;
  font-style: italic;
  text-align: right;
}
.tanaToraja .harga{
  padding: 10px;
}
.tanaToraja h2{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}
.tanaToraja th{
  color: #f88948;
}
.pantaiTanjungBira .gambar{
  background-image: url(img/TanahLot.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 0 !important;
}
.pantaiTanjungBira .isi{
  padding: 10px;
}
.pantaiTanjungBira p{
  padding: 10px;
  margin-top: 15px;
  text-align: center;
  /* text-indent: 2cm; */
}
.pantaiTanjungBira h6{
  padding-top: 60px;
  font-weight: 100;
  font-style: italic;
  text-align: right;
}
.pantaiTanjungBira .harga{
  padding: 10px;
}
.pantaiTanjungBira h2{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}
.pantaiTanjungBira th{
  color: #f88948;
}